# Project exclude paths
app/google-services.json
app/src/u2bplayer/java/com/smile/u2bplayer/u2bplay_constants/PrivateConstants.kt

# IDE / Android Studio files
.idea/.name
.idea/caches/
.idea/deploymentTargetSelector.xml
.idea/markdown.xml
.idea/misc.xml
.idea/modules/app/KaraokePlayer.app.iml
.idea/modules/app/KaraokePlayer.app.main.iml
.idea/modules/app/KaraokePlayer.app.unitTest.iml
.idea/planningMode.xml
.idea/studiobot.xml
.idea/workspace.xml

# Build & Native output folders
/.gradle/
build/
.cxx/
extensions/ffmpeg/src/main/jni/ffmpeg/

# App generated folders
app/karaokeplayer/
app/karaokeplayer2/
app/karaoketvplayer/
app/schemas/
app/u2bkaraoke/
app/u2bplayer/
app/u2bplayer2/
app/videoplayer/
app/videoplayer2/
