# Project exclude paths
app/google-services.json
app/src/u2bplayer/java/com/smile/u2bplayer/u2bplay_constants/PrivateConstants.kt
.idea/deploymentTargetSelector.xml
.idea/misc.xml
.idea/modules/app/KaraokePlayer.app.iml
.idea/modules/app/KaraokePlayer.app.main.iml
.idea/modules/app/KaraokePlayer.app.unitTest.iml
.idea/workspace.xml
extensions/ffmpeg/.cxx/
/.gradle/
/app/build/
/app/build/intermediates/javac/exoplayerDebug/classes/
/extensions/av1/build/
/extensions/av1/build/intermediates/javac/debug/classes/
/extensions/ffmpeg/build/
/extensions/ffmpeg/build/intermediates/javac/debug/classes/
/extensions/flac/build/
/extensions/flac/build/intermediates/javac/debug/classes/
/extensions/opus/build/
/extensions/opus/build/intermediates/javac/debug/classes/
/extensions/vp9/build/
/extensions/vp9/build/intermediates/javac/debug/classes/
