<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        tools:replace="android:icon"
        android:name="karaokeplayer.SmileKaraokeApp"
        android:icon="@mipmap/karaoke_app_icon"
        android:label="@string/karaoke_app_name">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8354869049759576~5549171584" />

        <activity
            android:name="karaokeplayer.ExoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="karaokeplayer.services.ExoPlayService"
            android:exported="false">
        </service>

    </application>

</manifest>