<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature android:name="android.hardware.wifi"
        android:required="false" />

    <application
        tools:replace="android:icon"
        android:name="com.smile.u2bplayer.SmileU2bApp"
        android:icon="@drawable/u2bplayer_app_icon"
        android:banner="@drawable/u2bplayer_app_icon"
        android:roundIcon="@drawable/u2bplayer_app_icon"
        android:label="@string/u2bplayer_app_name">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8354869049759576~4357648959" />

        <activity
            android:name="com.smile.u2bplayer.PhU2bPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.smile.u2bplayer.TvU2bPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.smile.u2bplayer.U2bPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false">
        </activity>

        <service
            android:name="com.smile.u2bplayer.services.U2bService"
            android:exported="false">
        </service>

    </application>

</manifest>
