<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="videoplayer.SmileVideoApp"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8354869049759576~5376732060" />

        <activity
            android:name="videoplayer.VlcPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="videoplayer.services.VlcPlayService"
            android:exported="false">
        </service>

    </application>

</manifest>
