<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature android:name="android.hardware.wifi"
        android:required="false" />

    <application
        tools:replace="android:icon"
        android:name="videoplayer.SmileVideoApp"
        android:icon="@mipmap/video_app_icon"
        android:banner="@mipmap/video_app_icon"
        android:roundIcon="@mipmap/video_app_icon"
        android:label="@string/video_app_name">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8354869049759576~5376732060" />

        <activity
            android:name="videoplayer.VlcPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="videoplayer.TvVlcPlayerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="videoplayer.services.VlcPlayService"
            android:exported="false">
        </service>

    </application>

</manifest>
