<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application android:name="exoplayer.SmileApplication"
        android:icon="@mipmap/app_icon">
        <activity
            android:name="exoplayer.ExoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="exoplayer.services.ExoPlayService"
            android:exported="true">
        </service>
    </application>

</manifest>