<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        tools:replace="android:icon"
        android:name="com.smile.u2bkaraoke.SongApplication"
        android:icon="@drawable/smile"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.smile.u2bkaraoke.U2bKkActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smile.u2bkaraoke.SongListActivity"
            android:label="@string/title_activity_song_query"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.smile.u2bkaraoke.SingerListActivity"
            android:label="@string/title_activity_singer_query"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.smile.u2bkaraoke.OrderOneSong"
            android:label="@string/title_activity_order_one_song"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.smile.u2bkaraoke.LanguageListActivity"
            android:label="@string/title_activity_language_query"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity android:name="com.smile.u2bkaraoke.SingerTypeListActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity android:name="com.smile.u2bkaraoke.WordListActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
    </application>

</manifest>